NUXT_PUBLIC_PRODUCTION="false"
NUXT_SITE_URL="https://exp.com"
NUXT_PUBLIC_SITE_URL="https://exp.com"
NUXT_PUBLIC_I18N_BASE_URL="https://exp.com"
NUXT_OG_IMAGE_SECRET="abc123"
DEV_URL="exp.com"
DEV_KEY="/Users/exp/cert/key.pem"
DEV_CERT="/Users/exp/cert/cert.pem"